@import url("https://unpkg.com/papercss@1.9.2/dist/paper.css") layer(csspaper);

form:has(input:invalid) {
  border-color: var(--danger);
}


/* Demo style */
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #f6eee3;
  opacity: 1;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #e5decf, #e5decf 1px, #f6eee3 1px, #f6eee3);
}

.card {
  background-color: #f5f5f5;
  width: 320px;
  max-width: 90vw;
}